<div class="container ml-4">
  <div class="comment d-flex">
    <div class="comment__profile-picture">
      <%= gravatar_for comment.user, size: 50 %>
    </div>
    <div class="comment__content d-flex flex-column">
      <div class="comment__content-header d-flex flex-column">
        <%= link_to comment.user.name.capitalize, user_path(comment.user_id), class: "font-weight-bold" %>
        <p><%= comment.content %></p>
      </div>
      <p class="time"><%= time_ago_in_words(comment.created_at) %> ago</p> 
    </div>
    <hr>
  </div>
</div>

