<div class="container mt-4 pt-4">
  <h2 class="ml-4">Your friends' list.  </h2>
    <div class="container mt-4 pt-4">
      <% current_user.friends.each do |friend| %>
      
        <h4 class="mt-4 bg-dark p-3 mb-2 ml-1">
            <%= link_to friend.name.capitalize, user_path(friend),class:"text-white" %>
            <small class="ml-4 pl-4 text-primary"> <%= link_to 'Remove friend', friend_path(friend), method: :delete %> </small>
          <% end %>
        </h4>
      </div>
      
</div>
