<div class="container mt-4 pt-4">
<h2 class="ml-4">Who's here?  </h2>
<br>
<% @users.each do |user| %>
  <% if user != current_user %>
  <div class="container">
    <h4 class="mt-4 bg-dark p-3 mb-2 text-white"><%= link_to user.name.capitalize, user_path(user.id), class: "text-white" %>
      <% if current_user.friends.include?(user) %>
        <small class="ml-4 pl-4 text-primary">You're already Friends!</small>
    </h4>
  </div>
    <% else %>
      <%= link_to friend_requests_path(:friend_id => user), :method => :post do %>
        
        <small class="ml-4 pl-4 text-secondary"><i class="fas fa-check mr-2"></i>Add friend</small>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
