/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  background-color: #252934;
  color: #b6b6b6;
}

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #537bf4;
  &:hover {
    color: #5d6fa7;
  }
}

/* navbar*/

.bg-dark {
  background-color: #303644 !important;
}

.dropdown-menu {
  background-color: #303644;
}

.dropdown-item {
  color: #b6b6b6;
  font-size: 1.5rem;
  &:hover,
  &:focus {
    color: #7e7a7a;
    text-decoration: none;
    background-color: #c0c0c0;
  }
}

.nav-link {
  color: #b6b6b6;
  &:hover {
    color: #b6b6b6;
  }
}

/* error */

#error_explanation {
  color: red;
  ul {
    color: white;
    margin: 0 0 30px 0;
  }
}

.field_with_errors:invalid {
  .form-control {
    color: red;
  }
}

/* posts */

.post {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
  background-color: #303644;
  border-radius: 5px;
  border-bottom: none;

  a {
    color: #b6b6b6;
  }
  .gravatar {
    float: left;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-right: 1.8rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }

  .username {
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  .date {
    margin-top: 2rem;
    margin-right: 1rem;
    p {
      margin-bottom: 1px;
      font-style: italic;
    }
  }

  &__content {
    margin-top: 1rem;
    text-align: justify;
    padding-right: 6rem;
    font-size: 1.8rem;
  }

  &__button {
    width: 10rem;
    height: 4rem;
    float: right;
    margin: 5px 16rem 0 auto;
  }

  &__header {
    width: 70rem;
    justify-content: space-between;
  }

  &__footer {
    margin: 2rem 2rem 1rem 0;
    &-likes {
      margin-right: 1rem;
    }
  }
}

.comment-form {
  width: 65rem;
  background-color: #303644;
  border-radius: 2rem;
  border-color: #b6b6b6;
  resize: none;
  overflow: auto;
  height: 4rem !important;
  font-size: 1.4rem;
  padding: 8px;
  padding-left: 2rem;
  &:focus {
    background-color: #303644;
    color: #b6b6b6;
    border-color: #b6b6b6;
    box-shadow: none;
  }
}

.comment-button {
  width: 13rem;
}

.btn-primary {
  background-color: #537bf4;
  border-color: #537bf4;
  padding: 9px 15px 9px 15px;
  border-radius: 2rem;
  font-size: 1.3rem;
  &:hover {
    background-color: #5d6fa7;
    border-color: #5d6fa7;
  }
}

.btn-danger {
  padding: 9px 15px 9px 15px;
  border-radius: 2rem;
  font-size: 1.3rem;
}

.btn-success {
  padding: 9px 15px 9px 15px;
  border-radius: 2rem;
  font-size: 1.3rem;
}

.ml-big {
  margin-left: 5rem;
}

.icon {
  font-size: 1.8rem;
}

.red {
  color: red;
}

.comment {
  width: 77rem;
  background-color: #303644;
  border-radius: 5px;
  margin: 2px auto 2px auto;
  padding-top: 5px;
  a {
    color: #b6b6b6;
  }
  .gravatar {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 1rem;
  }
  &__content {
    margin-top: 3px;
    margin-left: 1rem;
    text-align: justify;
    overflow: wrap;
    padding-right: 3rem;
    padding-bottom: 5px;
  }
  &__profile-picture {
    margin-top: 3px;
  }
}

.fr-number {
  margin-left: -5px;
  color: #537bf4;
  float: right;
}

.post-form {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
  background-color: #303644;
  border-radius: 5px;
  font-size: 1.8rem;
  resize: none;
  padding: 1.8rem;
  &:focus {
    background-color: #303644;
    color: #b6b6b6;
    border-color: #b6b6b6;
    box-shadow: none;
  }
}

.time {
  font-style: italic;
  font-size: 1.2rem;
}

.setting-icon {
  color: #7e7a7a;
  margin-left: 4em;
}

.gravatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.profile {
  margin-top: 2px;
}

.show-page {
  .gravatar {
    height: 8rem;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.show-card {
  .gravatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
}

.big-text {
  font-size: 1.6rem;
}
